<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-right">
                <li><a href="https://github.com/kieranmathieson/phk" target="_blank">Github</a></li>
            </ul>
        </div>
    </nav>
</footer>
