{% extends 'base.html.twig' %}

{% block page_heading %}About{% endblock %}

{% block content %}
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus augue, porta id tempor eu,
        pellentesque ut tellus. Nunc vel aliquam urna. Mauris justo tortor, eleifend nec sem non, accumsan faucibus
        quam. Nulla ut est ex. Sed scelerisque nulla ut dictum tristique. Mauris congue metus ut leo rhoncus rhoncus a
        quis elit. Donec dignissim sem nec nisl bibendum fringilla. Donec in ligula eget nisi ultrices luctus id in
        purus.

        Donec sodales elit in efficitur rhoncus. Nunc euismod tristique accumsan. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse non leo quis enim vehicula viverra.
        Pellentesque magna diam, cursus a imperdiet a, mattis sed ante. Mauris tristique tempus leo, eget semper eros
        fringilla id. Maecenas maximus lectus sit amet leo aliquet sagittis. </p>
{% endblock %}

