{% extends 'base.html.twig' %}

{% block page_heading %}About{% endblock %}

{% block content %}
    <h3>Managing Antimicrobial Resistance through Information Technology</h3>

    <p>
        Antimicrobial resistance (AMR) in low- and middle-income countries (LMIC) is an important issue that
        would benefit from increased integration of health information technology. This proposed website is a part of
        a phased approach to help clinicians, policy makers, and program administrators choose targeted interventions
        based on objective data related to local contexts, and specific resistant pathogens.
    </p>

    <h4>The First Phase</h4>

    <p>
        In this phase, the specific guidelines for therapeutic action will be provided based on disease
        state, and pathogen information.
    </p>

    <h4>Future Phases</h4>

    <p>
        Future phases will make this data available using a mobile App and link some of the laboratory data and
        antibiogram-level data to the application to make smart decisions based on resistance patterns seen at
        hospitals.  Also, this data will be refined for specific country.
    </p>
    <p>
        The code is on <a href="https://github.com/kieranmathieson/phk" target="_blank">Github</a>.
    </p>
{% endblock %}

